.inputWrapper {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  
  .userForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .myInputClass {
    width: 100%;
    border: 2px solid #B99470 !important;
    background-color: transparent !important;
    color: #353535;
    border-radius: 5px !important;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .myButton {
    background-color: #B99470;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }

  .signInButton {
    background-color: #B99470;
    color: white;
  }

  .signInButton:hover {
    background-color: #353535;
    color: white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.imageWrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: auto;
}
