.hero-section {
    background-image: url('../../images/services.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-section {
    position: relative;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hero-section h1 {
    position: relative;
    z-index: 1;
    color: white; 
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 200px; 
  }
  
  .serviceImage {
    object-fit: cover; 
  }
  
  .gray-dark{
    color: #353535;
  }

  .customColorGray {
    color: #6B7769;
  }

  .customIconColor {
    color: #B99470;
  }